@charset "UTF-8";
/* css resrt */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
h1, h2, h3, h4, h5, h6, address, caption, em, th {
    font-style:normal; font-weight:normal;
}

/* !!!!메인인가 헤더에 이미지 전체 설정된거 고쳐야함!!!! */
/* !!!!!폰트 설정!!!!! */
/* 전체 */
body{
    width: 100%;
    line-height: 1.1;
    letter-spacing: -0.03em;
}
ul{
    list-style: none;
}
li{
    list-style: none;
    display: list-item;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
button{
    cursor: pointer;
}
div {
    display: block;
}
label {
    cursor: default;
}
*{
    font-family: 'NanumBarunGothicYetHangul';
}
