/* 전체 */
.mypage-warp {
    width: 1000px;
    margin: 0 auto;
}

/* 마이페이지 버튼 라인 */
.mypage-warp>.mypage {
    margin-top: 30px;
    padding-top: 35px;
}
.mypage-warp>.mypage>.mypage-menu::after {
    display: block;
    content: '';
    clear: both;
}
.mypage-warp>.mypage>.mypage-menu>li {
    margin-left: 200px;
    float: left;
    background-color: gray;
}
/* 마이페이지 버튼 */
.mypage-warp>.mypage>.mypage-menu>li>button {
    display: block;
    position: relative;
    padding-top: 80px;
    width: 180px;
    height: 120px;
    text-align: center;
    cursor: pointer;
}
/* 버튼 삽입 이미지 */
.mypage-warp>.mypage>.mypage-menu>li>button>.img {
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    text-align: center;
}
/* 버튼 삽입 span(이름) */
.mypage-warp>.mypage>.mypage-menu>li>button>.myChange1 {
    font-size: 13px;
    text-align: center;
}
.mypage-warp>.mypage>.mypage-menu>li>button>.myChange2 {
    font-size: 13px;
    text-align: center;
}

/* 회원 정보 수정 */
.mypage-warp>.userChange {
    display: none;
    position: relative;
}
/* 회원 정보 수정 타이틀 */
.mypage-warp>.userChange>h3 {
    margin: 20px 0 20px;
    padding: 7px 0;
    font-size: 28px;
    font-weight: 100;
    line-height: 32px;
    color: black;
}
/* 설명 */
.mypage-warp>.userChange>.tip {
    display: block;
    border-bottom: 1px solid black;
    margin: 0 -30px;
    padding: 20px 30px 5px;
    font-size: 20px;
    font-weight: bold;
}
.mypage-warp>.userChange>.tip::after {
    content: "*는 필수 입력 항목입니다.";
    color: red;
    font-size: 12px;
}
.mypage-warp>.userChange>.user-update {
    margin-top: 10px;
}
/* * 필수 입력 */
.mypage-warp>.userChange>.user-update>label::after {
    position: relative;
    right: 0;
    top: 1px;
    content: "*";
    color: red;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    cursor: default;
}
/* 업데이트 인풋 박스 */
.mypage-warp>.userChange>.user-update>input {
    width: 250px;
    height: 25px;
    border: 1px solid lightgray;
}
/* 인증, 우편 검색 버튼 */
.mypage-warp>.userChange>.user-update>.btn-phone {
    display: inline-block;
    font-weight: inherit;
    font-size: 13px;
    text-align: center;
    width: 50px;
    height: 30px;
    color: white;
    background-color: lightslategray;
    border: none;
    border-radius: 2px;
}
.mypage-warp>.userChange>.user-update>.btn-addr {
    display: inline-block;
    font-weight: inherit;
    font-size: 13px;
    text-align: center;
    width: 100px;
    height: 30px;
    color: white;
    background-color: lightslategray;
    border: none;
    border-radius: 2px;
}
/* 하단 설명 */
.mypage-warp>.userChange>.non-list {
    position: relative;
    margin: 15px 0 20px 0;
    padding-right: 10px;
    font-size: 15px;
    color: gray;
}
.mypage-warp>.userChange>.non-list>li {
    
}
/* 하단 취소 수정 버튼 */
.mypage-warp>.userChange>.update-btn-center {
    text-align: center;
}
.mypage-warp>.userChange>.update-btn-center>.cancle-btn {
    display: inline-block;
    font-weight: inherit;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: black;
    padding: 0 10px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.mypage-warp>.userChange>.update-btn-center>.update-btn {
    display: inline-block;
    font-weight: inherit;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: red;
    padding: 0 10px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

/* 회원 탈퇴 */
.mypage-warp>.userWithdraw {
    display: none;
}
/* 회원탈퇴 위 큰 글씨 */
.mypage-warp>.userWithdraw>.toparea {
    margin: 20px 0 40px;
}
.mypage-warp>.userWithdraw>.toparea>h3 {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 28px;
    font-weight: 100;
    line-height: 32px;
    color: black;
}
.mypage-warp>.userWithdraw>.toparea>.title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 100;
    color: black;
    letter-spacing: -0.05em;
    word-break: break-all;

}
.mypage-warp>.userWithdraw>.toparea>.headline {
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: 100;
    line-height: 38px;
    color: lightcoral;
    letter-spacing: -0.05em;
    word-break: break-all;
}
/* 계정 선택 */
.mypage-warp>.userWithdraw>.user-delete {
    margin: 0 0 50px;
}
/* 아이디 선택 줄 두껍게 */
.mypage-warp>.userWithdraw>.user-delete>.sub-underline {
    display: block;
    border-bottom: 1px solid black;
    margin: 0 -30px;
    padding: 20px 30px 5px;
    font-size: 20px;
    font-weight: bold;
}
/* 탈퇴 체크박스 + 효과 */
.mypage-warp>.userWithdraw>.user-delete>.id-check {
    display: block;
    position: relative;
    margin: 29px 0 0;
    padding: 0 0 23px;
    border-bottom: 1px solid gray;

}
.mypage-warp>.userWithdraw>.user-delete>.id-check>input {
    position: absolute;
    left: 1px; top: 1px;
    width: 10px;
    height: 10px;
    border: 0;
    margin: 0;
    padding: 0;
}
/* 체크시 이미지 변경 */
input[type="checkbox"]:checked + label::before {
    background-image: url(../image/chk_8.png);
}
.mypage-warp>.userWithdraw>.user-delete>.id-check>label {
    display: inline-block;
    padding: 0 0 0 25px;
    height: 18px;
    line-height: 18px;
    vertical-align: top;
    cursor: pointer;
}
.mypage-warp>.userWithdraw>.user-delete>.id-check>label::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 18px;
    height: 18px;
    background: #fff no-repeat 0 0;
    background-image: url(../image/ui-input.png);
    background-size: 90px 18px;
    overflow: hidden;
}

/* 유의사항 */
.mypage-warp>.userWithdraw>.delete-precaution {
    margin: 0 0 20px;
}
/* 유의사항 줄 두껍게 */
.mypage-warp>.userWithdraw>.delete-precaution>.sub-underline2 {
    display: block;
    border-bottom: 1px solid black;
    margin: 0 -30px;
    padding: 0 30px 5px;
    font-size: 20px;
    font-weight: bold;
}
.mypage-warp>.userWithdraw>.delete-precaution>.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 20px 0;
    border-bottom: 1px solid gray;
}
.mypage-warp>.userWithdraw>.delete-precaution>.row>.warning {
    margin: 20px 0;
    line-height: 1.4;
}
/* 유의사항 설명 p태그 */
.mypage-warp>.userWithdraw>.delete-precaution>.row>.warning>p {
    position: relative;
    margin: 15px 0 0;
    padding: 0 0 0 10px;
    font-size: 15px;
    color: gray;
}
.mypage-warp>.userWithdraw>.delete-precaution>.row>.warning>p:first-child {
    margin: 0;
}
/* 하단 취소 탈퇴 버튼 */
.mypage-warp>.userWithdraw>.delete-btn-center {
    text-align: center;
}
.mypage-warp>.userWithdraw>.delete-btn-center>form>.cancle-btn {
    display: inline-block;
    font-weight: inherit;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: black;
    padding: 0 10px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.mypage-warp>.userWithdraw>.delete-btn-center>form>.delete-btn {
    display: inline-block;
    font-weight: inherit;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: red;
    padding: 0 10px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
